*{
    margin: 0px;

    padding: 0px;
}
body,html{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: #DFF8EB;
    display: flex;
  align-items: center;
   flex-direction: column; 
}
#head{
    height: 8vh;
   width: 16vw ;
  
   font-size: 1.5vmin;
    background-color: #5d6e29;
    color: #FAFAFA;
    margin-top: 10px;
    display: flex;
    justify-content: center;

    border-radius: 10px;
    
}
.container {
height: 70vh;
margin-top: 10vmin;
/* background-color: red; */
}
#content{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    /* background-color: cyan; */
   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #5C574F;
    border: none;
    border-radius: 1.5vmin;
    box-shadow: 5px 5px 10px rgba(144, 238, 211, 0.548), -5px -5px 10px rgba(173, 216, 230, 0.5);
    color: #339989;
    font-size: 70px ;
    


}
.box:hover{
    background-color: #7c6c53;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(142, 248, 218, 0.712), -5px -5px 10px rgba(173, 216, 230, 0.5);

}
.resetbtn{
    background-color: #FFF2F1;
    color: #5F00BA;
    height: 8vmin;
    width:  16vmin;
    margin-left: 19vmin;
    margin-top: 5vmin;
    border: 1px solid #A09BE7;
    border-radius: 1.5vmin ;
    background-color: #FFF2F1;
}
.resetbtn:hover{
color: #A09BE7;
color: #33003d;
cursor: pointer;
background-color: #DFF8EB;
box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.568);

}
.page2{
    
    height: 100vh;
    width: 100vw;
    background-color: #00796B;
    padding-top: 15vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.page2 h1{
   color: #FFD54F;
}
.page2 h4{
    margin-top: 5vmin;
   color: #FFFAFB;
}
#playbtn{
    background-color: #7DE2D1;
    color: #2B2C28  ;
    height: 8vmin;
    width:  16vmin;
    /* margin-left: vmin; */
    margin-top: 5vmin;
    border: 1px solid #FFFAFB;
    border-radius: 1vmin ; 
}
#playbtn:hover{
    background-color: #2e8f7f;
    cursor: pointer;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0,1);
}
.page2Hide{
display: none;
}
.mainHide{
    display: none;
}